<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>About</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta charset="utf-8" />
        {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'Upload_down_style.css' %}" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
        rel="stylesheet"
        type="text/css"
      />
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>

    <body class="body">
        <div class="topnav">
            <a  href="index.html">Home</a>
            <a href="Upload_down.html">Upload/Download</a>
            <a class="active" href="about.html">About/Contact</a>
        </div>    
        <center> 
        <h1 style="color:White;">File Transfer System</h1>
        <h2 style="color:White;"> Contact Developers </h2>
            <h3 style="color:White;"> For any query </h3>
        <div class="index">
          <p style="color:White;">
             email: alpesh.kaushal@gmail.com <br>
             email : imyogiraj.kumar99@gmail.com<br>
             email : kushagravarma1810@gmail.com<br>
             email : soora.iitkgp@gmail.com<br>
              
              
           </p>
<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_comuBU.json"  background="transparent"  speed="1"  style="width: 360px; height: 360px;" hover loop autoplay></lottie-player>

        </div>
       </center>
  </html>
</html>
