<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>Welcome</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta charset="utf-8" />
      {% load static %}
      <link rel="stylesheet" href="{% static 'Upload_down_style.css'%}" >
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
        rel="stylesheet"
        type="text/css"
      />
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script type="text/javascript">


</script>
    </head>

    <body class="body">
        <div class="topnav">
            <a class="active" href="index.html">Home</a>
             <!--   <a href="login.html">Admin Log In</a>
            <a href="signup.html">Sign Up</a>   -->
            <a href="Upload_down.html">Upload/Download</a>
            <a href="about.html">About/Contact</a>
        </div>    
        <center> 
        <h1 style="color:White;">Welcome</h1>
        <h2 style="color:White;"> File Transfer system </h2>
        
        <div class="index">
          <p style="color:White;">
              This platform allow you to share files to Cloud Storage or Download files available on Cloud.
              <br>
              This is very secure platform, your data saved on cloud will be protected and not be deleted.
            <br>
              Here you can share or download available file as guest user and <b>no need to share real name</b>.
            <br>
              Just like contributing to society.
          </p>
            <form>
         <button type="submit" formaction="Upload_down.html">Upload/Download Files</button>
      </form>
<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_comuBU.json"  background="transparent"  speed="1"  style="width: 360px; height: 360px;" hover loop autoplay></lottie-player>

        </div>
       </center>
  </html>
</html>
